%table.table
  %thead.header-fixed
    %tr
      %th
        Application Type
      %th.text-center
        Today
      %th.text-center
        Q1
      %th.text-center
        Q2
      %th.text-center
        Q3
      %th.text-center
        Q4
  %tbody
    %tr
      %td
        %i Date
      %td.text-center
        %i 
          %span#today
      %td.text-center
        %i 2019-04-30
      %td.text-center
        %i 2019-07-31
      %td.text-center
        %i 2019-10-31
      %td.text-center
        %i 2020-01-31
    - data.application_types.each do |apptypeKey, apptype|
      %tr
        %td
          - if apptype.vision 
            %a{href: "#{apptype.vision}"} #{apptype.name}
          - else
            = apptype.name
        %td.maturity-cell
          = partial "/images/maturity/#{maturity(apptype, Date.today)}.svg"
        %td.maturity-cell
          = partial "/images/maturity/#{maturity(apptype, Date.new(2019,04,30))}.svg"
        %td.maturity-cell
          = partial "/images/maturity/#{maturity(apptype, Date.new(2019,07,31))}.svg"
        %td.maturity-cell
          = partial "/images/maturity/#{maturity(apptype, Date.new(2019,10,31))}.svg"
        %td.maturity-cell
          = partial "/images/maturity/#{maturity(apptype, Date.new(2020,01,31))}.svg"